.Item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.Item.is-selected {
  outline: none;
  box-shadow: -3px 5px 10px -1px #ddd, 3px -5px 10px -1px #ddd;
}

.Item__toolbar {
  background-color: #ddd;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 7px;
  display: flex;
}

.Item__name {
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
  width: 75%;
  vertical-align: text-bottom;
  text-overflow: ellipsis;
}

.Item.is-selected .Item__toolbar {
  color: #fff;
  background-color: #3f51b5;
}

.Item__childrenContainer {
  /* This way children have all the container height available */
  height: 100%;
  padding: 10px;
  overflow: auto;
}
