.right-side-menu-feed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.right-side-menu-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 0px 20px;
}

.right-side-menu-title {
  background-color: #3f51b5;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-side-menu-title p {
  color: white;
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
  margin: 24px auto;
  font-size: 16px;
}

#right-side-menu-toggle {
  width: 28px;
  height: 30px;
  right: 30px;
  position: absolute;
}

#right-side-menu-toggle div {
  width: 100%;
  height: 5px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 20%;
}

#right-side-menu-toggle.off div {
  background: #3f51b5;
}

#right-side-menu-toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#right-side-menu-toggle.on .two {
  opacity: 0;
}

#right-side-menu-toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}
