@charset "utf-8";

$primary: hsl(210, 25%, 70%);
$navbar-item-img-max-height: 50px;


@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-item {
  font-size: 18px;
}