@media (max-width: 799px) {
  .right-side-menu-container {
    width: 100%;
  }
  .main__wrapper {
    width: 0%;
  }
}

@media (min-width: 800px) {
  .right-side-menu-container {
    width: 45%;
  }
  .main__wrapper {
    width: 55%;
  }
}

@media (min-width: 1000px) {
  .right-side-menu-container {
    width: 35%;
  }
  .main__wrapper {
    width: 65%;
  }
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable {
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.app-container {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
  display: flex;
  height: 100%;
  overflow: auto;
}

.main__wrapper {
  overflow-y: auto;
}

.region-select {
  border: 1px dashed rgba(0, 0, 0, 0.5);
  outline: rgba(255, 255, 255, 0.5) dashed 1px;
  background-color: rgba(38, 127, 216, 0.33);
  position: absolute;
}

.region-select:hover {
  cursor: move;
}

.selection {
  display: flex;
  margin: 7px;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.header-logo{
  padding-right: 17px;
  border-right: 1px solid #c8c8c830
}